@import url('https://fonts.googleapis.com/css?family=Markazi+Text')
.nav-link{
	font-family: 'Markazi Text', serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.7em;
    letter-spacing: .2px;
    font-size: 13px;
}
.logo{
	color: black;
	font-family: 'Markazi Text', serif;
    font-weight: 900;
    font-size: 30px;
    font-style: normal;
    line-height: 1.2em;
    text-transform: uppercase; 
    font-weight: bold;
    text-shadow: 2px 2px #ff0000;
}
#popUpWindow{
  //background: lightblue; 
}